<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Authors</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Add Authors</h1>
    <form action="/add_author" method="post">
        {%csrf_token%}
        <label for="first_name">First_name</label>
        <input type="text" id="first_name" name="first_name" required>
        <label for="last_name">Last_name</label>
        <input type="text" id="last_name" name="last_name" required>
        <label for="notes">Notes</label>
        <textarea id="notes" name="notes" required></textarea>
        <button type="submit">Add</button>
    </form>
    <h2>Authors</h2>
    <ul>
        {% for author in authors %}
            <li>{{ author.first_name }} {{ author.last_name }} - <a href="{% url 'author_info' author.id %}">view</a></li>
        {% endfor %}
    </ul>

    
</body>
</html>