<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
        {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    
    <h1>Registration</h1>
    <form action="{% url 'regesiter'%}" method="POST">
        {%csrf_token%}
        <label for="first_name">First_name:</label>
        <input type="text" name="first_name" required><br><br>

        <label for="last_name">Last_name:</label>
        <input type="text"  name="last_name" required><br><br>

        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <label for="confirm_password">Comfirm PW:</label>
        <input type="password" name="confirm_password" required><br><br>

        <label for="date">Date</label>
        <input type="date" name="date" required><br><br>

        <button type="submit">Register</button>  

    </form>

    <h1>Login</h1>
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token%}
        
        <label for="email">Email:</label>
        <input type="email" name="email" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        
        <p>{{error}}</p>
        <button type="submit">Login</button>
    </form>
    
</body>
</html>