<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <h1>All the Users</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {%for user in all_users%}
        <tr>  
            <td>{{user.id}}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
        </tr>
        {%endfor%}
    </table>
    <h2>Add a User</h2>
    <form action="{%url 'users'%}" method="POST">
       {%csrf_token%}
       <label for="first_name">First_name</label>
       <input type="text" id="first_name" name="first_name"> 

       <label for="last_name">Last_name</label>
       <input type="text" id="last_name" name="last_name"> 

       <label for="email">Email</label>
       <input type="email" id="email" name="email">

       <label for="age">Age</label>
       <input type="number" id="age"name="age">
       <button type="submit">Add</button>
    </form>


    
</body>
</html>