<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>great number</title>
</head>
<body>
    <h1>Great Number Game</h1>
    <p>{{ request.session.msg }}</p>
    <form action="{% url 'great_number'%}" method="post">
        {%csrf_token%}
        <input type="number" name="guess">
        <button type="submit">submit</button>
    </form>
    <form action="{% url 'reset'%}" method="post">
        {%csrf_token%}
        <button type="submit">Play Again!</button>
    </form>
   
</body>
</html>