body{
    width:20%;
    margin: 0 auto;
}
h1,h3{
    text-align: center;
}
.reset{
    border: 1px solid black;
    background-color: aqua;
    color: black;
    margin-left: 60px;
}
.add{
    border: 1px solid black;
    background-color: rgb(177, 237, 79);
    color: black;
    margin-top: 10px;
    margin-left: 60px;
}
